.about{

    &_cont {
        padding: 4rem .5rem;

        @include breakpoint-up(large){
        padding: 7rem 3rem;
        margin-bottom: 2rem;
        }

        &__title {

        }

        &__text {
            line-height: 1.7;
            
            @include breakpoint-up(large){
                line-height: 2.1;
                font-size: 1.5rem;
            }
        }
    }
}