.footer {
  padding: 0.3rem;
  display: flex;
  font-family: 'Oswald', sans-serif;
  font-size: 0.75rem;
  justify-content: center;
  border-top: 1px solid gray;

  @include breakpoint-up(large) {
    padding: 1rem;
    font-size: .9rem;
  }
}
