html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body{
    // height: 100vh;
    // width: 100vw;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    background-color: $blackBg;
    color: $brick;
}

.container {
    height: 100vh;
    width: 100vw;
    margin-right: auto;    
    margin-left: auto;

    

    &__light {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 57vh;
        // animation: blinking 1500ms ease-in-out 7s infinite alternate forwards ;
        animation: blinking 1.7s cubic-bezier(.5, 0, 1, 2) 3s infinite alternate;
        @include breakpoint-up(medium){
            height: 83vh;
        }
    }

    @keyframes blinking {
        0% {
            visibility: visible;
            opacity: 1;
        }
        15% {
            visibility: visible;
            opacity: 0.5;
        }
        40% {
            visibility: hidden;
            opacity: 0;
        }
        55% {
            visibility: visible;
            opacity: 0.5;
        }
        100% {
            visibility: hidden;
            opacity: 0;
        }
    }
}


a, a:hover, a:visited {
    text-decoration: none;
}

//Flexbox
.flex{
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

//Visibility
.hide-for-mobile {
    @include breakpoint-down(medium){
        display: none;
    }
}

.hide-for-desktop {
    @include breakpoint-up(large){
        display: none;
    }
}