
.hamburger{
    
     span {
        display: block;
        width: 26px;
        height: 3px;
        background-color: $brightCyan;
        transition: all 200ms ease-in-out;
        transform-origin: 2px 1px;


        &:not(:last-child){
            margin-bottom: 5px;
        }
    }
    &.open {
        animation: rot .7s forwards;
        
        span:first-child {
           transform: rotate(45deg);
       }
        span:nth-child(2) {
           opacity: 0;
       }
        span:nth-child(3) {
           transform: rotate(-45deg);
       }

       @keyframes rot {
           from {
               transform: rotate(0);
           }
           to {
               transform: rotate(-180deg);
           }
       }
   }
    &.close {
        animation: rotbk .7s forwards;
        
       @keyframes rotbk {
           from {
               transform: rotate(0);
           }
           to {
               transform: rotate(180deg);
           }
       }
   }
}
