@import '../styles/variables';

.header{
    border-bottom: 1px solid $gray;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: .5rem;
    background-color: $blackBg;
    z-index: 300;

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom left, rgba(26, 26, 28, 0),  rgba(26, 26, 28, .3));
        
    }
    
    nav {
        position: relative;
        padding: 1.0625rem 1.5rem;
        justify-content: flex-end;
    }    
}