@import '../styles/variables';

.header{
    // border-bottom: 1px solid $gray;
    position: fixed;
    width: 100%;

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom left, rgba(26, 26, 28, 0),  rgba(26, 26, 28, .3));
        
    }
    
    nav {
        position: relative;
        background-color: $blackBg;
        padding: 1.0625rem 1.5rem;
        justify-content: center;

        @include breakpoint-up(large){
            justify-content: flex-end;
        }
    }    
}