@import '../styles/variables';

.header{
    border-bottom: 1px solid $gray;

    .overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom left, rgba(26, 26, 28, 0),  rgba(111, 34, 50, .3));
        
    }
    
    nav {
        position: relative;
        background-color: $blackBg;
        padding: 1.0625rem 1.5rem;
    }

    &__logo{
        
        a {
            color: $pink;
        }
        // img{
        //     height: 53px;
        // }
    }
    
    &__mobmenu {
        position: absolute;
        width: calc(100% - 5rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        background-color: $white;
        padding: 1.625rem;
        border-radius: 5px;
        
        a {
            display: block;
            padding: 0.625rem;
            text-align: center;
            color: $moov;
        }
    }
    
}