.home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include breakpoint-up(large){
        flex-direction: row;
        align-items: center;
    }

    //flashing light logo
    &__light {
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 55vh;
        width: 79vw;
        z-index: 301;
        animation: blinking 1.7s cubic-bezier(.5, 0, 1, 2) 3s infinite alternate;
        
        @include breakpoint-up(medium){
            height: 51vh;
        }

        @include breakpoint-up(large){
            flex: 1;
            height: 99vh;
            width: 53vw;
            background-position: left;
        }

        @include breakpoint-up(xlarge){
            background-attachment: fixed;
        }

        &.delay-light {
            visibility: hidden;
            animation-delay: 1s;
        }

        

        @keyframes blinking {
            0% {
                visibility: visible;
                opacity: 1;
            }
            15% {
                visibility: visible;
                opacity: 0.5;
            }
            40% {
                visibility: hidden;
                opacity: 0;
            }
            55% {
                visibility: visible;
                opacity: 0.5;
            }
            100% {
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    //home introduction

    &__introduction {
        //for all view ports
        font-family: 'Gloria Hallelujah', cursive;
        // color: $pink;
        
        //mobile design
        font-size: 1.1rem;
        line-height: 1.5;
        margin: 0 1rem 1rem 1rem;
        text-align: center;
        animation: txtdelay .5s forwards;

        @include breakpoint-up(medium){
            padding: 1rem 5rem;
            font-size: 1.3rem;
            line-height: 1.5;
        }

        //desktop design
        @include breakpoint-up(large){
            position: relative;
            font-size: 1.9rem;
            line-height: 1.5;
            flex: .7 1;
            padding: 2.1rem;
            margin: 1.3rem;
            text-align: start;
            }
        }

         p {
             @include breakpoint-up(large){
                 margin: 0 1rem;
             }
            // &::before{
            //     content: open-quote;
            // }
            // &::after{
            //     content: close-quote;
            // }
            
        // @keyframes txtdelay {
        //     from {
        //         visibility: hidden;
        //         opacity: 0;
        //     }
        //     to {
        //         visibility: visible;
        //         opacity: 1;
        //     }
        // }
    }
}