    .mobmenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        width: calc(100% - 5rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        background-color: $diffBlack;
        padding: 1.625rem;
        border-radius: 5px;
        
        a {
            padding: 1.625rem;
            font-weight: 700;
            text-align: center;
            font-size: 1.3rem;
            font-family: 'Gloria Hallelujah', cursive;;
            color: $pink;
        }
    }