@import '../styles//variables';


.nav-links {
    
    & a {
        position: relative;
        color: $moov;
        transition: color 200ms ease-in-out;
        font-family: 'Gloria Hallelujah', cursive;
        font-size: 1.3rem;
        
        &:last-child {
            margin-right: 0.8125rem;
        }
        &:not(:last-child){
            margin-right: 2.0625rem;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            height: 5px;
            right: 0;
            left: 0;
            bottom: -19px;
            background: $pink;
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }

        &:hover {
            color: $pink;
           
            &::after {
               opacity: 1;
            }
        }
    }
}