.project {
  &__content {
    padding: 3rem 0;
    @include breakpoint-up(large) {
      padding: 7rem 3rem;
      padding-bottom: 3rem;
    }
  }

  &__grid {
    margin-top: 3rem;
    @include breakpoint-up(large) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 0;
    }
  }

  &__item {
    margin: 1rem;
    flex: 0;

    &:not(:first-child) {
      @include breakpoint-down(medium) {
        margin-top: 2rem;
      }
    }
  }

  &__desc {
    text-align: center;
    line-height: 1.7;
    font-size: 1rem;

    @include breakpoint-up(large) {
      line-height: 1.9;
      font-size: 1.2rem;
    }
  }
}

.figure {
  font-family: "Josefin Sans", sans-serif;
  position: relative;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  min-width: 14.375rem;
  max-width: 18.6875rem;
  min-height: 12.4375rem;
  max-height: 15.625rem;
  width: 100%;
  color: #000000;
  text-align: left;
  background-color: $lighterBg;
}
.figure * {
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.figure img {
  vertical-align: top;
  height: 300px;
  width: 300px;
  backface-visibility: hidden;
}
.figure figcaption {
  position: absolute;
  width: 100%;
  inset: 0;
  z-index: 1;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.figure a {
  margin: 0 auto;
  margin-bottom: 1rem;
  font-weight: 700;
  color: $lessBrightCyan;
}
.figure:hover > img {
  -webkit-filter: blur(30px);
  filter: blur(30px);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 0.15;
}
.figure:hover figcaption {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
