// first design/ Home
$blackBg: #1A1A1C;
$gray: #4E4E50;
$brick: #6F2232;
$moov: #951A41;
$pink: #C4263F;
$white: #ffffffc4;
$someWhite: #FFFCFD;


//greeny colors
$darkGreen: #61892F;
$lighGreen: #86C232;
$diffBlack: #222629;
$diffGray: #474B4F;
$lightGray: #6B6E70;

//cyan group
$background: #0B0C10;
$lighterBg: #1F2833;
$textColor: #C5C6C7;
$brightCyan: #66FCF1;
$lessBrightCyan:#45A29E;