// first design/ Home
$blackBg: #1A1A1C;
$gray: #4E4E50;
$brick: #6F2232;
$moov: #951A41;
$pink: #C4263F;
$white: #ffffffc4;
$someWhite: #FFFCFD;


//greeny colors
$darkGreen: #61892F;
$lighGreen: #86C232;
$diffBlack: #222629;
$diffGray: #474B4F;
$lightGray: #6B6E70;